*{
  padding:0;
  margin:0;
  scroll-behavior: smooth;
}

body{
  background-color: #584b42; /*7ecfc0;*/
  font-family: "Average";
  font-size: 19px;
  text-align: center;
}


/*header section*/
#title{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 19px;


}

.brand-deco{
  font-family: "Merriweather";
  font-size:24px;
  font-weight: 700;
}

.navbar{
  padding:3% 15% 3%;
}

.nav-item{
  padding-left:15px;
  padding-right:15px;
}

.navbar-toggler:focus{
  outline:none;
}



/*bio section */
#bio{
  background-color: white;
  padding:7% 15% 7%;
} 
#bio p{
  text-align: justify;
  text-align-last: center;
}

.img-size{
  width:50%;
  height:auto;
  border-radius:10px;
  filter: grayscale(1);
}

.bio-text{
  padding-top: 50px;

}

/* story carousel*/
#story-carousel{
  background-color: #f2e3c9;
  padding:7% 15% 7%;
}

#story-carousel a{
  color: #584b42;
  text-decoration: none;
  font-size: 19px;
}
#story-carousel a:hover{
  color:white;
}
#story-carousel p{
  font-size:30px;
  text-align: justify;
  text-align-last: center;
}


/*footer region*/
#footer{
  color:white;
  font-size:15px;
  max-height:100px;

}

.social-icons{
  font-size: 30px;
  color:white;  
}

.social-icons:hover{
  color:#ccc;
}

i{
  padding:20px 10px;
}


/* contact page*/
#contact{
  background-color: #f2e3c9;
  height: 800px;
  width:100 vw;
  display:flex;
  justify-content: center;
}

.contact-form{
 
  width:60vw;
  
}


#contact h2{
  padding-top:70px;
  padding-bottom: 50px;
}

input{
  border: 1px  solid #584b42;
  width:100%;
  margin-bottom:25px;
  border-radius:5px;
}

textarea{
  border: 1px  solid #584b42;
  width:100%;
  height:300px;
  margin-bottom:25px;
  border-radius:5px;
}

input:focus, textarea:focus{
  outline:none;
}



.contact-form p{
  color:green;

}

.remove-visibility{
  display:none;
}
